@import "../../../../assets/styles/variables";


.product-cart {
  width: 291px;
  height: 490px;
  box-sizing: border-box;
  position: relative;

  .product-cart-favorite {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    z-index: 2;
  }

  .product-cart-image {
    width: 291px;
    height: 291px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;

  }

  .product-cart-name {
    height: 52px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: $green-text-color;
    margin-top: 15px;

  }


  .product-cart-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #C7C7C7;


    .product-cart-price {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 22px;
      line-height: 130%;
      color: $green-text-color;
    }

    .product-cart-action .button {
      width: 166px;
    }

  }

  .product-cart-extra {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .product-cart-detail {
      display: flex;
      align-items: center;
      text-decoration: none;

      span {
        margin-left: 8px;
        color: #9AA89B;
        font-size: 16px;
      }
    }

  }
}
