.count-selector {
  display: flex;
  justify-content: space-between;
  width: 97px;
  align-items: center;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
