html,body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.input {
  padding: 17px 20px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 2px solid #2A592E;

  color: $gray-text-color;
  font-family:' Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;

}

.button {

}
