@import "variables";

html,body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.input {
  padding: 17px 20px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 2px solid #2A592E;

  color: $gray-text-color;
  font-family:' Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;

}

.small-input {
  border: 1px solid #6CAC72;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
  box-sizing: border-box;
  width: 40px;
  height: 28px;
  font-family:' Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: $green-text-color;


}

.button {
  text-align: center;
  padding: 15px ;
  border-radius: 5px;
  background: #456F49;
  box-sizing: border-box ;
  cursor: pointer;
  border: 0;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;

  &:disabled {
    background: gray;
    cursor: not-allowed;
  }
}

a.button {
  text-decoration: none;
  display: inline-block;
}

.mat-menu-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  a {
    text-decoration: none;
    color: $gray-text-color;
  }
}
