@import "variables";


@mixin head-lora-32 {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 32px;
  font-style: normal;
  color: $green-text-color;
}

@mixin head-lora-36 {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
  color: #000000;
}
